{{!-- Title and Carousel --}}
<section class="title">
    <div class="overlay"></div>
    <div class="owl-carousel owl-theme title-background">
        <div class="sl1"></div>
        <div class="sl2"></div>
        <div class="sl3"></div>
    </div>
    <div class="welcome-text">
        <div class="text-container text-center">
            <h2 class='subtitle'>Bienvenidos a</h2>
        </div>
        <div class="text-container text-center">
            <h1 class='title' id='title'>LA TORTILLERÍA</h1>
        </div>
    </div>
</section>

{{!-- Commerce Info --}}
<section class="about-us">
    <div class="container">
        <div class="row">
            <div class="about-content text-content">
                <div class="text-center welcome">
                    <h2>NUESTRA PROPUESTA</h2>
                    <p>
                        En nuestro pais las tortillas son un alimento de consumo popular. En la tortillería quisimos  darle una vuelta de tuerca y proponer una variedad para todos los gustos. Nacimos para  ofrecer una nueva forma de disfrutar: desde la Clasica Española hasta la innovadora Provoleta, siempre con materias primas de primera calidad y libres de Gluten.
                    </p>
                </div>
            </div>

            <div class="about-content img-content">
                <div class="expand-image size2 bo-rad-10 hov-img-zoom m-l-r-auto">
                    <img src="img/gallery/thumbnails/2th.webp" alt="img-about">
                </div>
            </div>
        </div>
    </div>
</section>

<div class="separator">
    <hr />
    <span>
        <img src="/img/border1.png" alt="">
    </span>
</div>

{{!-- Little Menu --}}
<section class="menu">
    <div class="container text-center">
        <a class="link-menu" href="https://drive.google.com/file/d/10lzMs8vYxfwpLTwfz8szpbBpmpH-Xa4G/view" target="__blank">Ver menú completo <ion-icon name="link-outline"></ion-icon></a>
        <div class="head">
            <h2>NUESTRO MENÚ</h2>
            <span>
                <p>Todos los productos son libres de gluten</p>
                <img src="img/sintacc.svg" alt="Logo-sin-tacc">
            </span>
        </div>
        <div class="columns">
            <div class="text-center">
                <h2>TORTILLAS</h2>
                <div class="grid">
                    <div class="col">
                        <h2>CON VEGETALES</h2>
                        <div class="product">
                            <ion-icon name="caret-forward-outline"></ion-icon>
                            <div>Española s/ Cebolla</div>
                        </div>
                        <div class="product">
                            <ion-icon name="caret-forward-outline"></ion-icon>
                            <div>Española Clásica</div>
                        </div>
                        <div class="product">
                            <ion-icon name="caret-forward-outline"></ion-icon>
                            <div>Española c/ Morrón</div>
                        </div>
                        <div class="product">
                            <ion-icon name="caret-forward-outline"></ion-icon>
                            <div>Española c/ Puerro</div>
                        </div>
                        <div class="product">
                            <ion-icon name="caret-forward-outline"></ion-icon>
                            <div>Espinaca y Muzza</div>
                        </div>
                        <div class="product">
                            <ion-icon name="caret-forward-outline"></ion-icon>
                            <div>Calabaza y Muzza</div>
                        </div>
                    </div>
                    <div class="col">
                        <h2>CON TUTTI</h2>
                        <div class="product">
                            <ion-icon name="caret-forward-outline"></ion-icon>
                            <div>Jamón y Muzza</div>
                        </div>
                        <div class="product">
                            <ion-icon name="caret-forward-outline"></ion-icon>
                            <div>Panceta y Muzza</div>
                        </div>
                        <div class="product">
                            <ion-icon name="caret-forward-outline"></ion-icon>
                            <div>Bondiola y Muzza</div>
                        </div>
                        <div class="product">
                            <ion-icon name="caret-forward-outline"></ion-icon>
                            <div>Provoleta y Muzza</div>
                        </div>
                        <div class="product">
                            <ion-icon name="caret-forward-outline"></ion-icon>
                            <div>4 Quesos</div>
                        </div>
                        <div class="product">
                            <ion-icon name="caret-forward-outline"></ion-icon>
                            <div>Napolitana a Caballo</div>
                        </div>
                    </div>
                </div>
                <h2>TAPEOS</h2>
                <div class="product">
                    <ion-icon name="caret-forward-outline"></ion-icon>
                    <div>Para 1 <ion-icon name="arrow-forward-outline"></ion-icon> con 1 salsa + 1 topping</div>
                </div>
                <div class="product">
                    <ion-icon name="caret-forward-outline"></ion-icon>
                    <div>Para 2 <ion-icon name="arrow-forward-outline"></ion-icon> con 2 salsas + 2 toppings</div>
                </div>
                <div class="product">
                    <ion-icon name="caret-forward-outline"></ion-icon>
                    <div>Para 4 <ion-icon name="arrow-forward-outline"></ion-icon> con 3 salsas + 3 toppings</div>
                </div>
                <h2>BEBIDAS</h2>
                <div class="product">
                    <ion-icon name="caret-forward-outline"></ion-icon>
                    <div>Gaseosas</div>
                </div>
                <div class="product">
                    <ion-icon name="caret-forward-outline"></ion-icon>
                    <div>Agua Mineral</div>
                </div>
                <div class="product">
                    <ion-icon name="caret-forward-outline"></ion-icon>
                    <div>Agua Saborizada</div>
                </div>
            </div>
            <div class="text-center">
                <h2>ACOMPAÑAMIENTOS</h2>
                <div class="grid small">
                    <div class="col">
                        <h2>SALSAS</h2>
                        <div class="product">
                            <ion-icon name="caret-forward-outline"></ion-icon><div>BBQ</div>
                        </div>
                        <div class="product">
                            <ion-icon name="caret-forward-outline"></ion-icon><div>Alioli</div>
                        </div>
                        <div class="product">
                            <ion-icon name="caret-forward-outline"></ion-icon><div>Fileto</div>
                        </div>
                        <div class="product">
                            <ion-icon name="caret-forward-outline"></ion-icon><div>Mayonesa de Rúcula</div>
                        </div>
                    </div>
                    <div class="col">
                        <h2>TOPPINGS</h2>
                        <div class="product">
                            <ion-icon name="caret-forward-outline"></ion-icon><div>Salsa Criolla</div>
                        </div>
                        <div class="product">
                            <ion-icon name="caret-forward-outline"></ion-icon><div>Tomates Confitados</div>
                        </div>
                        <div class="product">
                            <ion-icon name="caret-forward-outline"></ion-icon><div>Berenjenas en escabeche</div>
                        </div>
                        <div class="product">
                            <ion-icon name="caret-forward-outline"></ion-icon><div>Aceitunas maceradas bi-color</div>
                        </div>
                    </div>
                </div>
                <div class="info">Cada tortilla viene con una salsa y un topping a elección.</div>
                <h2>EXTRAS</h2>
                <div class="product">
                    <ion-icon name="caret-forward-outline"></ion-icon>
                    <div>Tortilla Revuelta (Papas fritas, jamon, panceta, verdeo y a caballo!)</div>
                </div>
                <h2>CERVEZAS</h2>
                <div class="product">
                    <ion-icon name="caret-forward-outline"></ion-icon>
                    <div>Andes</div>
                </div>
                <div class="product">
                    <ion-icon name="caret-forward-outline"></ion-icon>
                    <div>Rabieta / Patagonia</div>
                </div>
                <div class="product">
                    <ion-icon name="caret-forward-outline"></ion-icon>
                    <div>Guiness</div>
                </div>
            </div>
        </div>
    </div>
</section>

{{!-- Featured Products --}}
<section class="featured">
    <div class="custom-shape-divider-top-1647364006">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill"></path>
            <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill"></path>
            <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill"></path>
        </svg>
    </div>
    <h2 class="text-center">DESTACADOS</h2>
    <div class="grid">
        <div class="product">
            <div class="expand-image">
                <img src="/img/featured/1.webp" alt="Foto-1">
            </div>
            <h2 class="text-center">ESPINACA</h2>
            <p class="text-center">Ya sabes: una conocida de la familia con el toque único que le da el queso derretido en su interior. Imperdible.</p>
        </div>
        <div class="product">
            <div class="expand-image">
                <img src="/img/featured/2.webp" alt="Foto-2">
            </div>
            <h2 class="text-center">PROVOLETA Y MUZZA</h2>
            <p class="text-center">Celestial combinación de la clásica tortilla de papa y cebolla con quesos provoleta y muzzarella que le otorgan un sabor característico.</p>
        </div>
        <div class="product">
            <div class="expand-image">
                <img src="/img/featured/3.webp" alt="Foto-3">
            </div>
            <h2 class="text-center">NAPOLITANA A CABALLO</h2>
            <p class="text-center">Para valientes: papa, cebollas, jamon, queso y huevo frito. Sin mas que agregar.</p>
        </div>
    </div>
    <div class="custom-shape-divider-bottom-1647364087">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill"></path>
            <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill"></path>
            <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill"></path>
        </svg>
    </div>
</section>

<section class="gallery">
    <h2 class="text-center">GALERÍA</h2>
    <div class="wrap-container">
        <a href="img/gallery/1.webp"  id="gallery-1" class="picture-container" data-lightbox="img-gallery">
            <img src="img/gallery/preview/1.webp" alt="Foto-1">
            <div class="img-overlay"></div>
        </a>
        <a href="img/gallery/2.webp" id="gallery-2" class="picture-container" data-lightbox="img-gallery">
            <img src="img/gallery/preview/2.webp" alt="Foto-2">
            <div class="img-overlay"></div>
        </a>
        <a href="img/gallery/3.webp" id="gallery-3" class="picture-container" data-lightbox="img-gallery">
            <img src="img/gallery/preview/3.webp" alt="Foto-3">
            <div class="img-overlay"></div>
        </a>
        <a href="img/gallery/4.webp" id="gallery-4" class="picture-container" data-lightbox="img-gallery">
            <img src="img/gallery/preview/4.webp" alt="Foto-4">
            <div class="img-overlay"></div>
        </a>
        <a href="img/gallery/5.webp" id="gallery-5" class="picture-container" data-lightbox="img-gallery">
            <img src="img/gallery/preview/5.webp" alt="Foto-5">
            <div class="img-overlay"></div>
        </a>
        <a href="img/gallery/6.webp" id="gallery-6" class="picture-container" data-lightbox="img-gallery">
            <img src="img/gallery/preview/6.webp" alt="Foto-6">
            <div class="img-overlay"></div>
        </a>
    </div>
    <div class="pagination">
        <div class="item active">1</div>
        <div class="item">2</div>
        <div class="item">3</div>
    </div>
</section>

{{!-- Location and Map --}}
<section class="location">
    <div class="container">
        <div class="location-text text-center">
            <h2>VENÍ A VISITARNOS</h2>
            <p class="info">Estamos ubicados en el primer piso del <a href="https://www.mercatvillacrespo.com/" target="__blank">Mercat de Villa Crespo</a>.</p>
        </div>
        <div class="location-content">
            <iframe title="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2606.8346044561445!2d-58.44151542840148!3d-34.59389668870154!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb5f52e26a67b%3A0x7ce12d5a2a7ed6b3!2sMercat%20Villa%20Crespo!5e0!3m2!1ses-419!2sar!4v1647230226315!5m2!1ses-419!2sar"  class="map" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</section>

<section class="contact">
    <div class="container">
        <h2 class="text-center">CONTACTANOS</h2>
        <form class="contact-form">
            <div class="input-field">
                <input name="name" type="text" placeholder="NOMBRE" required>
            </div>
            <div class="input-field">
                <input name="email" type="email" placeholder="MAIL" required>
            </div>
            <textarea name="message" class="message" placeholder="Dejanos tu comentario..." required></textarea>
            <div class="contact-error-msg"></div>
            <button>ENVIAR</button>
        </form>
    </div>
</section>