<div class="loader-container">
    <div class="spinner"></div>
</div>
<div class="success-msg"></div>

<footer class="footer">
    <div class="container">
        <div class="schedule">
            <h2>HORARIO</h2>
            <ul class="week">
                <li class="day">
                    <span>Lunes</span>
                    <span class="hour">Cerrado</span>
                </li>
            </ul>
            <ul class="week">
                <li class="day">
                    <span>Martes</span>
                    <span class="hour">11:00 - 20:00</span>
                </li>
            </ul>
            <ul class="week">
                <li class="day">
                    <span>Miercoles</span>
                    <span class="hour">11:00 - 20:00</span>
                </li>
            </ul>
            <ul class="week">
                <li class="day">
                    <span>Jueves</span>
                    <span class="hour">11:00 - 23:00</span>
                </li>
            </ul>
            <ul class="week">
                <li class="day">
                    <span>Viernes</span>
                    <span class="hour">11:00 - 23:00</span>
                </li>
            </ul>
            <ul class="week">
                <li class="day">
                    <span>Sábado</span>
                    <span class="hour">11:00 - 23:00</span>
                </li>
            </ul>
            <ul class="week">
                <li class="day">
                    <span>Domingo</span>
                    <span class="hour">11:00 - 23:00</span>
                </li>
            </ul>
        </div>
        <div class="subscribe">
            <h2>SUSCRIBITE</h2>
            <form class="subscribe-form">
                <p class="error-msg"></p>
                <div class="input-field">
                    <input type="email" placeholder="Mail" name="email">
                    <button><ion-icon name="send"></ion-icon></button>
                </div>
            </form>
            <p class="info">Suscribite para recibir todos nuestros anuncios y promociones por mail.</p>
            <div class="torti">
                <img src="img/torti/torti2.png" alt="Torti">
            </div>
        </div>
        <div class="instagram">
            <h2>INSTAGRAM</h2>
            <div class="wrap-gallery">
                <a href="img/ig/1.webp" class="item-gallery" data-lightbox="img-footer">
                    <img src="img/ig/1.webp" alt="Foto-1">
                    <div class="img-overlay"></div>
                </a>
                <a href="img/ig/2.webp" class="item-gallery" data-lightbox="img-footer">
                    <img src="img/ig/2.webp" alt="Foto-2">
                    <div class="img-overlay"></div>
                </a>
                <a href="img/ig/3.webp" class="item-gallery" data-lightbox="img-footer">
                    <img src="img/ig/3.webp" alt="Foto-3">
                    <div class="img-overlay"></div>
                </a>
                <a href="img/ig/4.webp" class="item-gallery" data-lightbox="img-footer">
                    <img src="img/ig/4.webp" alt="Foto-4">
                    <div class="img-overlay"></div>
                </a>
                <a href="img/ig/5.webp" class="item-gallery" data-lightbox="img-footer">
                    <img src="img/ig/5.webp" alt="Foto-5">
                    <div class="img-overlay"></div>
                </a>
                <a href="img/ig/6.webp" class="item-gallery" data-lightbox="img-footer">
                    <img src="img/ig/6.webp" alt="Foto-6">
                    <div class="img-overlay"></div>
                </a>
            </div>
            <a href="https://www.instagram.com/latortilleriaok/" target="__blank" class="tag">
                <img src="img/ig/logo.webp" alt="Logo-ig">
                <span>latortilleriaok</span>
                <ion-icon name="link-outline"></ion-icon>
            </a>
        </div>
        <div class="contact">
            <h2>CONTACTO</h2>
            <div class="info">
                <span class="entry"><ion-icon name="location"></ion-icon>Thames 747 Primer Piso, Villa Crespo, CABA.</span>
                <span class="entry"><ion-icon name="mail"></ion-icon>latortilleriaok@gmail.com</span>
                <span class="entry"><ion-icon name="call"></ion-icon>-</span>
            </div>
        </div>
    </div>
    <div class="rights">
        <h3>La Tortillería © 2022 - Todos los derechos reservados</h3>
    </div>
</footer>